@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 4415px;
  left: 2445px;
  top: -2311px;
  background: #191765 url(./Ellipse\ 18.svg) no-repeat 0% 2%;
}

.header {
  width: 100%;
  margin: 10px;
  position: fixed;
}

#logo {
  cursor: pointer;
  color: #edecff;
  width: fit-content;
  position: fixed;
  left: 10%;
  top: 3%;
  height: 5%;
}

#menu-mobile .nav-items {
  display: none;
  z-index: 41;
}

#menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}

.menuBtn {
  font-size: 30px;
  cursor: pointer;
  color: #edecff;
  width: fit-content;
  position: fixed;
  right: 10%;
  top: 2%;
  height: 5%;
}

hr {
  margin: 15px;
  border: 1px solid #646369;
}

.menu {
  color: #fff;
  width: 33.3px;
  height: 30px;
  position: absolute;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px;
  margin: 25% 4% 4% 2%;
  width: 94%;
  text-align: center;
}

.desc {
  height: 170px;
  width: 327px;
  color: #c8c8d4;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  position: static;
}

.profession {
  position: static;
  width: 327px;
  height: 87px;
  left: 0;
  top: 67px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
  margin-top: 29px;
  margin-bottom: 35px;
}

.name {
  position: static;
  width: 327px;
  height: 55px;
  left: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.logo {
  position: static;
  width: 81px;
  height: 16px;
  left: 12px;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.container1 {
  display: flex;
  width: 98%;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 0% 0 2%;
  background: url(./Ellipse\ 19.svg) no-repeat 100% 2%;
}

.items {
  color: #9490ff;
  margin: 20px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.items li {
  color: #f5f5ff;
  margin: 20px 0;
  width: 103.55px;
  height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.item2 a {
  margin: 5px;
  color: #fff;
  width: 17.99px;
  height: 20px;
}

.work {
  color: #a2a3ae;
  text-align: center;
  margin: 20px 0;
}

.snip {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  margin: 80px 8% 40px 8%;
}

.cd11 {
  min-width: 280px;
  height: 236px;
  background-color: linear-gradient(0deg, #f9f9f9, #f9f9f9);
  background-image: url("image_processing20200716-21735-f07s4k.png");
}

.cd12 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.cd13 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

.cd14 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edecff;
  background: #7d73fc;
  border: none;
  width: fit-content;
  padding: 5px;
  margin: 20px 6%;
}

.btn:hover {
  background: #7d73fc;
}

.btn:active {
  background: #7d73fc;
}

.btn:focus {
  background: #5e42d7;
}

.cd11,
.cd12,
.cd13,
.cd14 {
  margin: 20px 6%;
}

.work1 {
  display: flex;
  flex-direction: column;
  background: url(./Ellipse\ 20.svg) no-repeat 0 40%;
}

.work2 {
  display: flex;
  flex-direction: column;
  background: url(./Ellipse\ 21.svg) no-repeat 100% 40%;
}

.work3 {
  display: flex;
  flex-direction: column;
  background: url(./Ellipse\ 22.svg) no-repeat 0 40%;
}

.work4 {
  display: flex;
  flex-direction: column;
  background: url(./Ellipse\ 23.svg) no-repeat 100% 50%;
}

.cdlinks {
  display: flex;
}

.cdlinks li {
  margin: 0 7px;
}

.cards {
  display: grid;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 0 20px 20px;
  padding: 30px 0;
}

.contact-form .contact-container h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 44px;
  color: #9390ff;
  margin: 0 0 20px 0;
}

.contact-form .contact-container p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: #f5f5ff;
  margin: 0 0 20px 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form form input {
  width: 327px;
  height: 48px;
}

.contact-form form input[placeholder],
.contact-form form textarea[placeholder] {
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.contact-form form input[type="text"],
textarea {
  color: #81818c;
}

.contact-form form input[type="email"] {
  color: #191765;
}

.contact-form form textarea {
  width: 327px;
  height: 148px;
}

.contact-form button {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  width: 89px;
  margin: auto;
  height: 48px;
  margin-top: 20px;
}

.footer-contacts {
  color: #dcdce8
}

.footer a {
  color: #ebebff;
  margin-bottom: 20px;
}

.footer-contacts {
  display: flex;
  text-align: center;
}

.footer-line {
  width: 100%;
}